{% extends './layout.html' %}
{% block body %}
<h1>inventory and sales</h1>
{%if user.is_authenticated %}
<h2> you are admin </h2>
<a href={% url 'delete_sale' %}>delete sale</a>
<a href={% url 'delete_inventory' %}>delete inventory</a>
<a href={% url 'logout' %}>logout</a>
{% else %}
<h2> you are not admin </h2>
{% endif %}
  <a href={% url 'add_sale' %}>add sale</a>
  {% comment %} TODO check if admin {% endcomment %}
  <a href={% url 'add_inventory' %}>add to inventory</a>
  <a href={% url 'login' %}>Login</a>
  <div>
    <table border="1">
  <tr>
    {% for key,value in inventory.0.items %}
      <th>{{ key }}</th>
    {% endfor %}
  </tr>
  {% for item in inventory %}
    <tr>
      {% for key,value in item.items %}
        <td>{{ value }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
<table border="1">
  <tr>
    {% for key,value in sales.0.items %}
      <th>{{ key }}</th>
    {% endfor %}
  </tr>
  {% for item in sales %}
    <tr>
      {% for key,value in item.items %}
        <td>{{ value }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
</div>
{% endblock %}